<.flash_group flash={@flash} />

<.container class="mt-5" max_width="full">
  <.table
    id="posts"
    row_id={fn post -> "row_#{post.id}" end}
    row_click={fn post -> JS.navigate(~p"/components/table#row_#{post.id}") end}
    rows={[
      %{
        id: 1,
        name: "John Smith",
        age: 30
      },
      %{
        id: 2,
        name: "Beth Springs",
        age: 25
      },
      %{
        id: 3,
        name: "Peter Knowles",
        age: 40
      },
      %{
        id: 4,
        name: "Sarah Hill",
        age: 35
      }
    ]}
  >
    <:col :let={post} label="Name">{post.name}</:col>
    <:col :let={post} label="Age">{post.age}</:col>
    <:col class="w-64">
      <div class="flex gap-2 items-center justify-end">
        <.button label="Show" />
        <.button label="Delete" color="danger" />
      </div>
    </:col>
  </.table>
</.container>
